<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomePage</title>

</head>

<body>
    <h1>{{title}}</h1>
    <p>Search Anything</p>
    <form action="" id='form'>
        <input type="text" name="" id="input">
        <button type="submit">Search</button>
    </form>
    <p id="m1"></p>
    <p id="m2"></p>
    <p>Created by {{name}}</p>
    <p>An Application that guesses your age from your name.</p>
    <script src="/js/app.js"></script>
</body>

</html>